* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  margin: 5px;
  height: 100px;
  background-color: #B2D6FF;    /* Medium blue */
}
.pt-5{
  padding-top:5px;
}
.Item {
  margin:5px;
  float: left;
  width: 200px;
  height: 500px;
  background-color: #F09A9D;    /* Red */
}

.content {
  margin: 5px;
  float: left;
  width: 650px;
  height: 500px;
  background-color: #F5CF8E;    /* Yellow */
  padding: 20px;
}
.article-image {
  margin: 5px;
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}
.footer {
  height: 200px;
  background-color: #D6E9FE;    /* Light blue */
}
.page {
  margin: 5px;
  width: 900px;
  margin: 0 auto;
  border: 1px solid red;
  overflow: hidden;
  background-color: #EAEDF0;
}
.container {
  overflow: hidden;
  background-color: #EAEDF0;
}
.column-1{
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #6d00c1;
}
.column-2{
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #f24dde;
}
.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;    /* Medium blue */
}
.footer {
  overflow: hidden;
  background-color: #D6E9FE;
}
.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 40px;
  background-color: #D6E9FE;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}
form button {
  width: 100px;
  margin: 0 auto;
}
.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;  /* This is important */
}